<div class="article-list">
    <div class="jumbotron">
        <h2 class="text-center">Cerca articoli</h2>
        <div class="row">
            <div class="col-md-6">
                <div class="text-center">
                    <label for="name">nome:</label>
                    <input type="text" class="form-control" #searchName name="name" (keyup)="searchByName(searchName.value)" placeholder="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="text-center">
                    <label for="code">codice:</label>
                    <input type="text" class="form-control" #searchCode name="code" (keyup)="searchByCode(searchCode.value)" placeholder="" autofocus>
                </div>
            </div>
        </div>
    </div>

    <hr>

    <div class="card-deck">

        <div class="card" style="width: 20rem;" *ngFor="let article of articles | async">
            <!--<img class="card-img-top" src="assets/images/card-image.svg" alt="Card image cap">-->
            <div class="card-block">
                <h4 class="card-title">{{article.name}}</h4>
                <p class="card-text">{{article.description}}</p>
                <button class="btn btn-small btn-primary" (click)="addToCart({article: article, qty: 1})">Carrello »</button>
                <button class="btn btn-default" [routerLink]="['/articles', article._id]">Modifica »</button>
                <button class="btn btn-danger" (click)="removeArticle(article)">Elimina  »</button>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <strong>Codice: </strong>{{article.code}}
                </li>
                <li class="list-group-item">
                    <strong>Quantità: </strong>{{article.qty}}
                </li>
                <li class="list-group-item">
                    <strong>Categoria/Tipo: </strong>{{article.category +'/'+ article.type}}
                </li>
                <li class="list-group-item" *ngIf="article.category === 'Liquido'">
                    <strong>Formato/Nicotina: </strong>{{article.format +'/'+ article.nicotine}}
                </li>
            </ul>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>

    </div>
</div>