<div class="article-list">
  <div class="jumbotron">
    <h2 class="text-center">Cerca articoli</h2>
    <div class="row">
      <div class="col-md-6">
        <div class="text-center">
          <label for="name">nome:</label>
          <input type="text" class="form-control" #searchName name="name" (keyup)="searchByName(searchName.value)" placeholder="flavorart">
        </div>
      </div>
      <div class="col-md-6">
        <div class="text-center">
          <label for="code">codice:</label>
          <input type="text" class="form-control" #searchCode name="code" (keyup)="searchByCode(searchCode.value)" placeholder="8613854132161">
        </div>
      </div>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-4 text-center" *ngFor="let article of articles | async">
      <h2><strong>{{article.name}}</strong></h2>
      <p><strong>Quantità: </strong><span>{{article.qty}}</span></p>
      <p><strong>Codice: </strong><span>{{article.code}}</span></p>
      <button class="btn btn-primary" (click)="addToCart({article: article, qty: 1})">Carrello »</button>
      <button class="btn btn-default" [routerLink]="['/articles', article._id]">Modifica »</button>
      <button class="btn btn-danger" (click)="removeArticle(article)">Elimina  »</button>
    </div>
  </div>
</div>
