<div class="navbar-offset">
    <div class="jumbotron">
        <h2 class="text-center">Cerca articoli</h2>
        <div class="row">
            <div class="col-md-6">
                <div class="text-center">
                    <label for="name">nome:</label>
                    <input type="text" class="form-control" #searchName name="name" (keyup)="searchByName(searchName.value)" placeholder="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="text-center">
                    <label for="code">codice:</label>
                    <input type="text" class="form-control" #searchCode name="code" (keyup)="searchByCode(searchCode.value)" placeholder="" autofocus>
                </div>
            </div>
        </div>
    </div>

    <hr>

    <div class="card-deck">

        <app-article-card [article]="article" *ngFor="let article of articles | async"></app-article-card>

    </div>
</div>