<div class="manage-articles jumbotron">

  <br>

  <h2 class="text-center">Aggiungi articolo</h2>

  <form (submit)="add()">

    <div class="form-group">
      <label for="code">Codice</label>
      <input type="text" id="code" name="code" value="" class="form-control" [(ngModel)]="code">
    </div>

    <div class="form-group">
      <label for="name">Nome</label>
      <input type="text" id="name" name="name" value="" class="form-control" [(ngModel)]="name">
    </div>

    <div class="form-group">
      <label for="qty">Quantità</label>
      <input type="number" step="1" id="qty" name="qty" value="" class="form-control" [(ngModel)]="qty">
    </div>

    <div class="form-group">
      <label for="category">Categoria</label>
      <select class="form-control" id="category" name="category">
          <option value="Liquido">Liquido</option>
          <option value="Hardware">Hardware</option>
        </select>
    </div>

    <div class="form-group">
      <label for="type">Tipo</label>
      <select name="type" id="type" class="form-control">
        <option value="50/50">50/50</option>
        <option value="Atomizzatore">Atomizzatore</option>
        <option value="Aroma">Aroma</option>
        <option value="Box">Box</option>
        <option value="Filo">Filo</option>
        <option value="Pronto">Pronto</option>
      </select>
    </div>

    <div class="form-group">
      <label for="company">Azienda</label>
      <input type="text" class="form-control" id="company">
    </div>

    <div class="form-group">
      <label for="nicotine">Nicotina</label>
      <input type="text" class="form-control" id="nicotine">
    </div>

    <div class="form-group">
      <label for="size">Formato</label>
      <input type="text" class="form-control" id="size">
    </div>

    <div class="form-group">
      <label for="price">Prezzo</label>
      <input type="text" class="form-control" id="price">
    </div>

    <button type="submit" class="btn btn-default">Salva</button>

  </form>

</div>
