<div *ngIf="article; else noArticles">
  <div class="d-flex flex-row justify-content-between">

    <h4>{{ article.name }} ({{article.qty}}) {{article.code}}</h4>

    <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Toggle dropdown</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem>Action - 1</button>
          <button ngbDropdownItem>Another Action</button>
          <button ngbDropdownItem>Something else is here</button>
        </div>
      </div>

    <div class="btn-group" appDropdown>
      <button type="button" class="btn btn-primary dropdown-toggle">
        Manage Article <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a (click)="onAddToShoppingList()" >To Shopping List</a></li>
        <li><a style="cursor: pointer;" (click)="onEditArticle()">Edit Article</a></li>
        <li><a style="cursor: pointer;" (click)="onDeleteArticle()">Delete Article</a></li>
      </ul>
    </div>

  </div>

  <hr>

  <div class="row">
    <div class="col-xs-12">
      <img
        [src]="article.image"
        alt="{{ article.name }}"
        class="img-responsive"
        style="max-height: 300px;">
    </div>
  </div>
    <hr>
    <div class="d-flex justify-content-between">
      <span> {{ article.description }} </span>
      <span> {{ article.price | currency:'EUR':true }} </span>
    </div>
    <hr>
    <div class="row">
      <div class="col">
        <span class="badge badge-info" *ngFor="let tag of article.tags">{{ tag.name }}</span>
      </div>
    </div>
  </div>

  <ng-template #noArticles>
    <h4>Article not found...</h4>
  </ng-template>
