<div *ngIf="article; else noArticles">
  <div class="d-flex flex-row justify-content-between">

    <h4>{{ article.name }} ({{article.qty}}) {{article.code}}</h4>

    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Manage Article</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button ngbDropdownItem (click)="onAddToShoppingList()">To Shopping List</button>
        <button ngbDropdownItem (click)="onEditArticle()">Edit Article</button>
        <button ngbDropdownItem (click)="onDeleteArticle()">Delete Article</button>
      </div>
    </div>

  </div>

  <hr>

  <div class="row">
    <div class="col-xs-12">
      <img [src]="article.image" alt="{{ article.name }}" class="img-responsive" style="max-height: 300px;">
    </div>
  </div>
  <hr>
  <div class="d-flex justify-content-between">
    <span> {{ article.description }} </span>
    <span> {{ article.price | currency:'EUR':true }} </span>
  </div>
  <hr>
  <div class="row">
    <div class="col">
      <span class="badge badge-info" *ngFor="let tag of article.tags">{{ tag.name }}</span>
    </div>
  </div>
</div>

<ng-template #noArticles>
  <h4>Articles not found...</h4>
</ng-template>