<div class="row">
  <div class="col">

    <div *ngIf="cart && cart.products; else cartIsEmpty">
      <div class="d-flex flex-row justify-content-between">
        <h4>Shopping Basket</h4>
        <button class="btn btn-success" (click)="onCheckout()">checkout</button>
      </div>
      <hr>
      <p>
        <ngb-alert [dismissible]="false">
          <strong>Warning!</strong> Better check yourself, you're not looking too good.
        </ngb-alert>
      </p>
      <app-cart-list [products]="cart.products" [cartId]="cart._id"></app-cart-list>
    </div>

    <ng-template #cartIsEmpty>
      <div class="d-flex flex-row justify-content-between">
        <h4>Shopping Basket is empty...</h4>
        <button class="btn btn-primary" (click)="onContinue()">Continue Shopping</button>
      </div>
    </ng-template>

  </div>
  <div class="col-3">
    <app-cart-detail></app-cart-detail>
  </div>
</div>