<h4>Current Milestones/Issues</h4>
<ul class="list-group">
    <li class="list-group-item">
      add imagepath into article
    </li>
    <li class="list-group-item">
      the total price of the shopping cart only works when the amount of an article is 1
    </li>
    <li class="list-group-item">
      connect articleSearchComponent
    </li>
    <li class="list-group-item">
      search input in the navbar is not working
    </li>
    <li class="list-group-item">
      Move header in a component
    </li>
    <li class="list-group-item">
      article.updatedOn is not working
    </li>
</ul>
