<div class="row">
  <div class="col d-flex justify-content-between">
    <button class="btn btn-outline-success" (click)="onNewArticle()">New Article</button>
    <ngb-pagination 
      [collectionSize]="collectionSize" 
      [(page)]="page" 
      [pageSize]="pageSize" 
      [disabled]="!collectionSize"
      (pageChange)="onPageChange($event)"
      [maxSize]="5" 
      [rotate]="true" 
      [ellipses]="false" 
      aria-label="Article pagination"
      class="pagination-component"
    ></ngb-pagination>
  </div>
</div>

<hr>

<div class="row">
  <div class="col">
    <app-article-item
      *ngFor="let article of articles"
      [article]="article"
      [id]="article._id"
    ></app-article-item>
    <hr>
    <ngb-pagination 
      [collectionSize]="collectionSize" 
      [(page)]="page" 
      [pageSize]="pageSize"
      [disabled]="!collectionSize"
      (pageChange)="onPageChange($event)"
      [boundaryLinks]="true"
      aria-label="Article pagination"
    ></ngb-pagination>
  </div>
</div>
